version: 2
jobs:
  build:
    working_directory: /go/src/github.com/istio-ecosystem/istio-discovery
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - run:
          name: Build
          command: |
            make build
      - run:
          name: Tests
          command: |
            make test
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            make docker
      - run:
          name: Push Docker image
          command: |
            make deploy